@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @RenderSection("Styles", false)
}
@section RichHeader {
    @RenderSection("RichHeader", false)
}
<div class="main main-style">
    <div class="product-main-container">
        <div class="custom-container">
            @*@RenderSection("Breadcrumbs", false)*@

            @RenderSection("Title", true)

            @RenderSection("Product", true)

            @RenderSection("Work", true)

            @RenderSection("Comments", true)

            @RenderSection("More", true)


            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>
</div>

    @section JsCode {
        @RenderSection("JsCode", true)
    }
