@model SW.Frontend.Models.WorkDetailsViewModel
@using SW.Shared.Constants.Storage
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@using SW.Frontend.Utilities;

@{
    var model = Model.DocumentPublic;
    ViewBag.Title = Seo.GetWorkTitle(model.Title, model.Type, model.Category.Title);
    ViewBag.Description = Seo.SanitizeMetadaDescription(model.BriefDescription);
    ViewBag.Image = model.HasImages ? model.Images[0] : SW.Shared.Constants.Application.Logo;
    ViewBag.Author = model.AuthorUserName.ToString();
}

@section Styles {
    <link href="~/metronic/assets/frontend/pages/css/products/media.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/products/product.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" rel="stylesheet" type="text/css" />
}

<div class="main main-style">
    <div class="product-main-container">
        <div class="custom-container">
            <div class="more-products-list-container">
                <div class="product-breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="comeback-to-page" style="border-radius: 8px !important;">Вернуться назад</a>
                    <div class="nav-breadcrumb">
                        <ul class="nav-breadcrumb-list">
                            <li class="nav-breadcrumb-item">Главная страница /</li>
                            <li class="nav-breadcrumb-item">Каталог /</li>
                            <li class="nav-breadcrumb-item">Дипломные работы по программированию /</li>
                            <li class="nav-breadcrumb-item">@Model.DocumentPublic.Title</li>
                        </ul>
                    </div>
                </div>
                <div style="width: 1px;"></div>
            </div>
            <div class="product-demonstration-container">
                <div class="product-slider">
                    <div class="blog-item-img">
                        <div class="front-carousel">
                            <div id="myCarousel" class="carousel slide">
                                <div class="carousel-inner" style="border-radius: 12px !important;">
                                    @if (model.HasVideo)
                                    {
                                        <div class="item active">
                                            <iframe src="//www.youtube.com/embed/@Model.DocumentPublic.YoutubeId?rel=0&showinfo=0"
                                                    width="100%" frameborder="0" allowfullscreen style="height: 100%;"></iframe>
                                        </div>
                                    }
                                    @if (model.HasImages)
                                    {
                                        for (Int32 i = 0; i < model.Images.Count; i++)
                                        {
                                            <div class="item @(i==0 && !model.HasVideo ? "active" : "")">
                                                <a href="@Model.DocumentPublic.Images[i]" class="fancybox-button" title="Нажми, чтобы увеличить" data-rel="fancybox-button">
                                                    <img src="@Model.DocumentPublic.Images[i]" alt="@Model.DocumentPublic.Title" style="width: 100%; height: 100%;">
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                                @if (model.ShowSliderButtons)
                                {
                                    <a class="slider-prev" href="#myCarousel" data-slide="prev">
                                    </a>
                                    <a class="slider-next" href="#myCarousel" data-slide="next">
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail-slider">
                        <div class="slide-btn">
                            <button class="slide-btn-left" style="border-radius: 30px !important;"></button>
                        </div>
                        <div class="thumbnail-slider-container">
                            @if (model.HasImages)
                            {
                                foreach (var image in model.Images)
                                {

                                    <img src="@image" alt="@Model.DocumentPublic.Title " style="border-radius: 12px !important;">
                                }
                            }
                        </div>
                        <div class="slide-btn">
                            <button class="slide-btn-right" style="border-radius: 30px !important;"></button>
                        </div>
                    </div>
                </div>
                <div class="product-demonstration-block">
                    <div class="product-block1">
                        <h1 class="product-title">@Model.DocumentPublic.Title</h1>
                        <div class="product-benefits">
                            <div class="benefit-list">
                                @if (!ViewBag.HasSales)
                                {
                                    <span class="benefit-item first-sale">Покупается впервые</span>
                                }
                                <span class="benefit-item rate">@Model.DocumentPublic.Rating</span>
                                <a class="benefit-item"
                                   href="@(Model.DocumentPublic.Category.Url + "?type=" + Model.DocumentPublic.TypeId)"
                                   title="Посмотреть все @Model.DocumentPublic.Type в категории @Model.DocumentPublic.Category.Title">
                                    @Model.DocumentPublic.Type
                                </a>
                                <span class="benefit-item">Курсовые работы</span>
                                <span class="benefit-item">Сети: Cisko</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-block2" style="border-radius: 12px !important;">
                        <p class="product-text">
                            Сразу после завершения оплаты вы получите доступ к скачиванию работы,
                            и мы также отправим файл с работой на вашу электронную почту. Исходные файлы программы будут
                            доступны для ваших редактирований по вашему усмотрению.
                        </p>
                        <div class="mobile-container">
                            <div class="product-price-container">
                                <div class="product-price">
                                    <span class="discount-price">@Model.DocumentPublic.Price</span>
                                    <span class="old-price">@Model.DocumentPublic.Price @Model.DocumentPublic.Profit</span>
                                </div>
                                <span class="guarantee">Гарантия качества</span>
                            </div>
                            <div class="product-buy-buttons">
                                @{
                                    var buyLink = (IHtmlString)null;
                                    if (Model.DocumentPublic.Files.Count == 1)
                                    {
                                        buyLink = Html.Raw(Url.Action("File", "Works", new { fileId = @Model.DocumentPublic.Files.Count != 0 ? @Model.DocumentPublic.Files[0].UserFileId : 0, documentId = @ViewBag.WorkId }));
                                    }
                                    else
                                    {
                                        buyLink = Html.Raw(Url.Action("FilesList", "Works", new { documentId = @ViewBag.WorkId }));
                                    }
                                    <a href="@buyLink" class="btn btn-buy" style="border-radius: 12px !important;">Купить работу</a>
                                }
                                <a href="https://t.me/studlearn_support" class="btn btn-buy-telegram" style="border-radius: 12px !important;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-description-container">
                <div class="product-description">
                    <h2 class="title-description">Описание работы:</h2>
                    @Html.Raw(Model.DocumentPublic.Content)
                </div>

                <div class="author-work" style="border-radius: 12px !important;">
                    <div class="author-name">
                        <p class="author-section-text">
                            Автор работы
                        </p>
                        <div class="author-profile">
                            <img src="@Model.AuthorImageUrl" alt="author-profile-img">
                            <div class="author-info">
                                <p class="author-section-text">
                                    @Model.DocumentPublic.AuthorUserName
                                </p>
                                <span class="author-benefits stars">@Model.AuthorRating</span>
                                <span class="author-benefits works">@Model.WorksCount</span>
                                <p class="author-text">
                                    @Model.AuthorDescription
                                </p>
                            </div>
                        </div>
                        <hr class="author-stroke" />
                    </div>
                    <div class="author-work-list">
                        <p class="author-section-text">
                            Список файлов
                        </p>
                        <div class="work-files">
                            <p class="work-file-text">
                                HomeNameFile.zip
                            </p>
                            <ul class="file-list">
                                @foreach (var file in Model.DocumentPublic.Files)
                                {
                                <li class="file-list-item txt">@file.Title</li>
                                }
                            </ul>
                        </div>
                        <hr class="author-stroke" />
                    </div>
                    <div class="rate-work">
                        <div class="rate-work-title">
                            <p class="author-section-text">
                                Оценить работу
                            </p>
                            <span class="author-benefits stars">5.0</span>
                        </div>
                        <div class="rate-stars">
                            <div class="rate-stars-container">
                                <span class="rate-star"></span>
                                <span class="rate-star"></span>
                                <span class="rate-star"></span>
                                <span class="rate-star"></span>
                                <span class="rate-star"></span>
                            </div>
                            <p class="rate-text">Спасибо за оценку!</p>
                        </div>
                        <hr class="author-stroke" />
                    </div>
                    <div class="buy-work-buttons">
                        <div class="buy-buttons-container">
                            <a class="btn buy-button" style="border-radius: 12px !important;" href="@buyLink">
                                @{
                                    decimal price = 0;
                                    if (Model.DocumentPublic.Price.HasValue)
                                    {
                                        price = Model.DocumentPublic.Price.Value;
                                    }
                                }
                                Купить @price₽
                            </a>
                            <a class="btn buy-button-telegram" style="border-radius: 12px !important;" href="https://t.me/studlearn_support">
                                Заказать через Telegram
                            </a>
                        </div>
                        <hr class="author-stroke" />

                    </div>
                    <div class="author-work-footer">
                        <span class="report-text">Пожаловаться</span>
                    </div>
                </div>
            </div>
            <div class="comments-container">
                <div class="users-comments">
                    <h3 class="title-description">
                        Комментарии @Model.DocumentPublic.CommentsNumber
                        <span class="title-description number">2</span>
                    </h3>
                    <div class="comment-item">
                        <div class="comment-author">
                            <img src="../images/product/author-profile.png" alt="author-profile">
                            <div class="comment-name">
                                <p class="author-section-text">
                                    Елена Ведибурская
                                </p>
                                <span class="user-role">Автор работы</span>
                            </div>
                        </div>
                        <p class="work-text">
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                            используя Lorem Ipsum для распечатки образцов.
                        </p>
                        <div class="comment-panel">
                            <div class="created-at">
                                <span class="clock-icon icons"></span>
                                <span class="created-at-date">29.12.23</span>
                                <span class="created-at-time">00:44</span>
                            </div>
                            <div class="comment-likes">
                                <span class="minus-icon icons"></span>
                                <span class="likes-count">12</span>
                                <span class="plus-icon icons"></span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-item">
                        <div class="comment-author">
                            <img src="../images/product/author2-profile.png" alt="author-profile">
                            <div class="comment-name">
                                <p class="author-section-text">
                                    Дмитрий Шмидт
                                </p>
                            </div>
                        </div>
                        <p class="work-text">
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                            используя Lorem Ipsum для распечатки образцов.
                        </p>
                        <div class="comment-panel">
                            <div class="created-at">
                                <span class="clock-icon icons"></span>
                                <span class="created-at-date">29.12.23</span>
                                <span class="created-at-time">00:44</span>
                            </div>
                            <div class="comment-likes">
                                <span class="minus-icon icons"></span>
                                <span class="likes-count">-73</span>
                                <span class="plus-icon icons"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-container"></div>
            </div>
            <div class="comments-container">
                <div class="add-comment-form">
                    <h4 class="title-section">
                        Оставить комментарий
                    </h4>
                    <div class="comment-inputs">
                        <label>
                            <input type="text" class="comment-input-name" placeholder="Ваше имя" style="border-radius: 12px !important;">
                        </label>
                        <div class="text-container">
                            <label style="width: 100%;">
                                <textarea type="text" class="comment-input-text" placeholder="Комментарий"
                                          maxlength="300" style="border-radius: 12px !important;"></textarea>
                                <span class="letter-length"><span>0</span>/300</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="send-comment-btn" style="border-radius: 12px !important;">Опубликовать комментарий</button>
                </div>
                <div class="empty-container"></div>
            </div>
            <div class="more-products">
                <div class="more-products-list-container">
                    <h4 class="title-more-products">Похожие работы</h4>
                    <div style="width: 1px;"></div>
                </div>
                <div class="more-products-list-container">
                    <div class="more-products-list">
                        @foreach (var work in Model.FeaturedWorks)
                        {
                            <div class="product-box">
                                <div class="product-box-image" style="border-radius: 12px !important; background-image: url('@work.ImageUrl');">
                                    <div class="product-box-items">
                                        <span class="product-box-image-item">
                                            Алгоритм
                                        </span>
                                        <span class="product-box-image-item">
                                            Коллекции
                                        </span>
                                        <span class="product-box-image-item">
                                            C#
                                        </span>
                                    </div>
                                    <span class="product-box-image-item rating">
                                        3.2
                                    </span>
                                </div>
                                <div class="product-box-info">
                                    <span class="views">12 K</span>
                                    <span class="product-box-price">@work.PriceLabel</span>
                                </div>
                                <div class="product-box-title">
                                    <p>@work.Title</p>
                                    <a href="@work.Url" class="watch-more">Смотреть работу</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div style="width: 1px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Metronic/assets/frontend/pages/scripts/product.js"></script>