@model SW.Shared.Models.Documents.DocumentPublic
@using SW.Shared.Constants.Storage
@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@using SW.Frontend.Utilities;

@{ ViewBag.Title = Seo.GetWorkTitle(Model.Title, Model.Type, Model.Category.Title);
    ViewBag.Description = Seo.SanitizeMetadaDescription(Model.BriefDescription);
    ViewBag.Image = Model.HasImages ? Model.Images[0] : SW.Shared.Constants.Application.Logo;
    ViewBag.Author = Model.AuthorUserName.ToString();}

@section Styles {
    <link href="~/metronic/assets/frontend/pages/css/products/media.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/frontend/pages/css/products/product.css" rel="stylesheet" type="text/css" />
}

<div class="main main-style">
    <div class="product-main-container">
        <div class="custom-container">
            <div class="product-breadcrumb">
                <a href="#" class="comeback-to-page">Вернуться назад</a>
                <div class="nav-breadcrumb">
                    <ul class="nav-breadcrumb-list">
                        <li class="nav-breadcrumb-item">Главная страница /</li>
                        <li class="nav-breadcrumb-item">Каталог /</li>
                        <li class="nav-breadcrumb-item">Дипломные работы по программированию /</li>
                        <li class="nav-breadcrumb-item">Игра 'Сражение' c#, FPW /</li>
                    </ul>
                </div>
            </div>
            <div class="product-demonstration-container">
                <div class="product-slider">
                    <div class="slider">
                        @if (Model.HasImages)
                        {
                            foreach (var image in Model.Images)
                            {
                                <img src="@image" alt="@Model.Title">
                            }
                        }
                        <button class="prev"></button>
                        <button class="next"></button>
                    </div>
                    <div class="thumbnail-slider">
                        <div class="slide-btn">
                            <button class="slide-btn-left"></button>
                        </div>
                        <div class="thumbnail-slider-container">
                            @if (Model.HasImages)
                            {
                                foreach (var image in Model.Images)
                                {

                                    <img src="@image" alt="@Model.Title">
                                }
                            }
                        </div>
                        <div class="slide-btn">
                            <button class="slide-btn-right"></button>
                        </div>
                    </div>
                </div>
                <div class="product-demonstration-block">
                    <div class="product-block1">
                        <h1 class="product-title">@Model.Title</h1>
                        <div class="product-benefits">
                            <div class="benefit-list">
                                @if (!ViewBag.HasSales)
                                {
                                    <span class="benefit-item first-sale">Покупается впервые</span>
                                }
                                <span class="benefit-item rate">@Model.Rating</span>
                                <a class="benefit-item"
                                   href="@(Model.Category.Url + "?type=" + Model.TypeId)"
                                   title="Посмотреть все @Model.Type в категории @Model.Category.Title">
                                    @Model.Type
                                </a>
                                <span class="benefit-item">Курсовые работы</span>
                                <span class="benefit-item">Сети: Cisko</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-block2">
                        <p class="product-text">
                            Сразу после завершения оплаты вы получите доступ к скачиванию работы,
                            и мы также отправим файл с работой на вашу электронную почту. Исходные файлы программы будут
                            доступны для ваших редактирований по вашему усмотрению.
                        </p>
                        <div class="mobile-container">
                            <div class="product-price-container">
                                <div class="product-price">
                                    <span class="discount-price">@Model.Price</span>
                                    <span class="old-price">@Model.Price @Model.Profit</span>
                                </div>
                                <span class="guarantee">Гарантия качества</span>
                            </div>
                            <div class="product-buy-buttons">
                                @{
                                    var buyLink = (IHtmlString)null;
                                    if (Model.Files.Count == 1)
                                    {
                                        buyLink = Html.Raw(Url.Action("File", "Works", new { fileId = @Model.Files.Count != 0 ? @Model.Files[0].UserFileId : 0, documentId = @ViewBag.WorkId }));
                                    }
                                    else
                                    {
                                        buyLink = Html.Raw(Url.Action("FilesList", "Works", new { documentId = @ViewBag.WorkId }));
                                    }
                                    <a href="@buyLink" class="btn btn-buy">Купить работу</a>
                                }
                                <a href="https://t.me/studlearn_support" class="btn btn-buy-telegram"></a>
                                <a href="https://t.me/studlearn_support" class="btn btn-buy-telegram-on-hover">
                                    Заказать через Telegram
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work-description-container">
                <div class="product-description">
                    <h2 class="title-description">Описание работы:</h2>
                    @Html.Raw(Model.Content)
                </div>

                <div class="author-work">
                    <div class="author-name">
                        <p class="author-section-text">
                            Автор работы
                        </p>
                        <div class="author-profile">
                            <img src="@Model.AuthorSlug" alt="author-profile-img">
                            <div class="author-info">
                                <p class="author-section-text">
                                    @Model.AuthorUserName
                                </p>
                                <span class="author-benefits stars">@Model.Rating</span>
                                <span class="author-benefits works">???</span>
                                <p class="author-text">
                                    ??
                                </p>
                            </div>
                        </div>
                        <hr class="author-stroke" />
                    </div>
                    <div class="author-work-list">
                        <p class="author-section-text">
                            Список файлов
                        </p>
                        <div class="work-files">
                            <p class="work-file-text">
                                HomeNameFile.zip
                            </p>
                            <ul class="file-list">
                                <li class="file-list-item txt">fileName.txt</li>
                                <li class="file-list-item doc">fileName.doc</li>
                                <li class="file-list-item jpg">fileName.jpg</li>
                                <li class="file-list-item vsd">fileName.vsd</li>
                                <li class="file-list-item xlsx">fileName.xlsx</li>
                            </ul>
                        </div>
                        <hr class="author-stroke" />
                    </div>
                    <div class="rate-work">
                        <div class="rate-work-title">
                            <p class="author-section-text">
                                Оценить работу
                            </p>
                            <span class="author-benefits stars">5.0</span>
                        </div>
                        <div class="rate-stars">
                            <div class="rate-stars-container">
                                <span class="rate-star"></span>
                                <span class="rate-star"></span>
                                <span class="rate-star"></span>
                                <span class="rate-star"></span>
                                <span class="rate-star"></span>
                            </div>
                            <p class="rate-text">Спасибо за оценку!</p>
                        </div>
                        <hr class="author-stroke" />
                    </div>
                    <div class="buy-work-buttons">
                        <div class="buy-buttons-container">
                            <button type="button" class="buy-button">
                                Купить 2500₽
                            </button>
                            <button type="button" class="buy-button-telegram">
                                Заказать через Telegram
                            </button>
                        </div>
                        <hr class="author-stroke" />

                    </div>
                    <div class="author-work-footer">
                        <span class="report-text">Пожаловаться</span>
                    </div>
                </div>
            </div>sssss
            <div class="users-comments">
                <h3 class="title-description">
                    Комментарии @Model.CommentsNumber
                    <span class="title-description number">2</span>
                </h3>
                <div class="comment-item">
                    <div class="comment-author">
                        <img src="../images/product/author-profile.png" alt="author-profile">
                        <div class="comment-name">
                            <p class="author-section-text">
                                Елена Ведибурская
                            </p>
                            <span class="user-role">Автор работы</span>
                        </div>
                    </div>
                    <p class="work-text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        используя Lorem Ipsum для распечатки образцов.
                    </p>
                    <div class="comment-panel">
                        <div class="created-at">
                            <span class="clock-icon icons"></span>
                            <span class="created-at-date">29.12.23</span>
                            <span class="created-at-time">00:44</span>
                        </div>
                        <div class="comment-likes">
                            <span class="minus-icon icons"></span>
                            <span class="likes-count">12</span>
                            <span class="plus-icon icons"></span>
                        </div>
                    </div>
                </div>
                <div class="comment-item">
                    <div class="comment-author">
                        <img src="../images/product/author2-profile.png" alt="author-profile">
                        <div class="comment-name">
                            <p class="author-section-text">
                                Дмитрий Шмидт
                            </p>
                        </div>
                    </div>
                    <p class="work-text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                        Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                        В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                        используя Lorem Ipsum для распечатки образцов.
                    </p>
                    <div class="comment-panel">
                        <div class="created-at">
                            <span class="clock-icon icons"></span>
                            <span class="created-at-date">29.12.23</span>
                            <span class="created-at-time">00:44</span>
                        </div>
                        <div class="comment-likes">
                            <span class="minus-icon icons"></span>
                            <span class="likes-count">-73</span>
                            <span class="plus-icon icons"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-comment-form">
                <h4 class="title-section">
                    Оставить комментарий
                </h4>
                <div class="comment-inputs">
                    <label>
                        <input type="text" class="comment-input-name" placeholder="Ваше имя">
                    </label>
                    <div class="text-container">
                        <label>
                            <textarea type="text" class="comment-input-text" placeholder="Комментарий"
                                      maxlength="300"></textarea>
                            <span class="letter-length"><span>0</span>/300</span>
                        </label>
                    </div>
                </div>
                <button type="submit" class="send-comment-btn">Опубликовать комментарий</button>
            </div>
            <div class="more-products">
                <h4 class="title-more-products">Похожие работы</h4>
                <div class="more-products-list">
                    <div class="product-box">
                        <div class="product-box-image">
                            <div class="product-box-items">
                                <span class="product-box-image-item">
                                    Алгоритм
                                </span>
                                <span class="product-box-image-item">
                                    Коллекции
                                </span>
                                <span class="product-box-image-item">
                                    C#
                                </span>
                            </div>
                            <span class="product-box-image-item rating">
                                3.2
                            </span>
                        </div>
                        <div class="product-box-info">
                            <span class="views">12 К</span>
                            <span class="product-box-price">640 руб</span>
                        </div>
                        <div class="product-box-title">
                            <p>Диагональ матрицы C#</p>
                            <a href="#" class="watch-more">Смотреть работу</a>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="product-box-image product-box-image2">
                            <div class="product-box-items">
                                <span class="product-box-image-item">
                                    Алгоритм
                                </span>
                                <span class="product-box-image-item">
                                    Коллекции
                                </span>
                                <span class="product-box-image-item">
                                    C#
                                </span>
                            </div>
                            <span class="product-box-image-item rating">
                                5.0
                            </span>
                        </div>
                        <div class="product-box-info">
                            <span class="views">12 К</span>
                            <span class="product-box-price">Бесплатно</span>
                        </div>
                        <div class="product-box-title">
                            <p>C++ cловесный эквивалент числа</p>
                            <a href="#" class="watch-more">Смотреть работу</a>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="product-box-image">
                            <div class="product-box-items">
                                <span class="product-box-image-item">
                                    Алгоритм
                                </span>
                                <span class="product-box-image-item">
                                    Коллекции
                                </span>
                                <span class="product-box-image-item">
                                    C#
                                </span>
                            </div>
                            <span class="product-box-image-item rating">
                                5.0
                            </span>
                        </div>
                        <div class="product-box-info">
                            <span class="views">967</span>
                            <span class="product-box-price">Бесплатно</span>
                        </div>
                        <div class="product-box-title">
                            <p>Шифр Цезаря и Виженера C#</p>
                            <a href="#" class="watch-more">Смотреть работу</a>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="product-box-image product-box-image4">
                            <div class="product-box-items">
                                <span class="product-box-image-item">
                                    Алгоритм
                                </span>
                                <span class="product-box-image-item">
                                    Коллекции
                                </span>
                                <span class="product-box-image-item">
                                    C#
                                </span>
                            </div>
                            <span class="product-box-image-item rating">
                                5.0
                            </span>
                        </div>
                        <div class="product-box-info">
                            <span class="views">115</span>
                            <span class="product-box-price">Бесплатно</span>
                        </div>
                        <div class="product-box-title">
                            <p>Инженерный калькулятор v 1.0 на C#</p>
                            <a href="#" class="watch-more">Смотреть работу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Metronic/assets/frontend/pages/scripts/product.js"></script>